In [1]:
import numpy as np
import pandas as pd
from glob import glob

In [2]:
#Function to concat all the csv files into one file
def concat(outfile = 'concat-data.csv'): #outfile = "name of the output file"
    filenames = glob('./data/E*.csv') #many filenames have similar pattern 
    dataframes = []
    for files in filenames:
        dataframes.append(pd.read_csv(files))
    concatDF = pd.concat(dataframes, axis=0,sort=False) #axis=0 to concat vertically
    concatDF.to_csv('./data/'+ outfile, index = None) #index=None for no indexing
    
concat() #concat function call
    
data = pd.read_csv('./data/concat-data.csv')
data = data.dropna(axis = 'columns', how = 'any',thresh=4000)  #drops the columns with null values 

display(data)
#views the first five lines

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BWA,IWH,IWD,IWA,WHH,WHD,WHA,VCH,VCD,VCA
0,E0,10/8/2018,Man United,Leicester,2.0,1.0,H,1.0,0.0,H,...,7.50,1.55,3.80,7.00,1.57,3.8,6.00,1.57,4.0,7.00
1,E0,11/8/2018,Bournemouth,Cardiff,2.0,0.0,H,1.0,0.0,H,...,4.40,1.90,3.50,4.10,1.91,3.5,4.00,1.87,3.6,4.75
2,E0,11/8/2018,Fulham,Crystal Palace,0.0,2.0,A,0.0,1.0,A,...,2.95,2.40,3.30,2.95,2.45,3.3,2.80,2.50,3.4,3.00
3,E0,11/8/2018,Huddersfield,Chelsea,0.0,3.0,A,0.0,2.0,A,...,1.57,6.20,4.00,1.55,5.80,3.9,1.57,6.50,4.0,1.62
4,E0,11/8/2018,Newcastle,Tottenham,1.0,2.0,A,1.0,2.0,A,...,2.00,3.70,3.35,2.05,3.80,3.2,2.05,3.90,3.4,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4036,E0,22/01/2020,Leicester,West Ham,4.0,1.0,H,2.0,0.0,H,...,5.75,1.53,4.40,5.80,1.52,4.4,6.00,1.53,4.4,6.25
4037,E0,22/01/2020,Tottenham,Norwich,2.0,1.0,H,1.0,0.0,H,...,7.25,1.43,4.80,6.80,1.40,4.8,8.00,1.40,4.8,8.00
4038,E0,22/01/2020,Man United,Burnley,0.0,2.0,A,0.0,1.0,A,...,7.75,1.42,4.55,7.60,1.40,4.5,8.50,1.40,4.5,9.00
4039,E0,23/01/2020,Wolves,Liverpool,1.0,2.0,A,0.0,1.0,A,...,1.62,5.40,3.95,1.65,5.80,3.9,1.62,5.50,4.0,1.62
4040,E0,29/01/2020,West Ham,Liverpool,0.0,2.0,A,0.0,1.0,A,...,1.34,8.40,5.40,1.35,9.00,5.5,1.32,9.50,5.4,1.33

In [3]:
#displaying the teams of the league
read_data = pd.read_csv('./data/E0.csv')
team_list = read_data['HomeTeam']
team_name=[]
for teams in team_list:
    if teams not in team_name:
        team_name.append(teams)
print("\n\nTeams in Season: 2019-2020")
display(team_name)
print (type(team_name))

Teams in Season: 2019-2020

['Liverpool',
 'West Ham',
 'Bournemouth',
 'Burnley',
 'Crystal Palace',
 'Watford',
 'Tottenham',
 'Leicester',
 'Newcastle',
 'Man United',
 'Arsenal',
 'Aston Villa',
 'Brighton',
 'Everton',
 'Norwich',
 'Southampton',
 'Man City',
 'Sheffield United',
 'Chelsea',
 'Wolves']

<class 'list'>

In [4]:
#WIN RATE FOR THE HOME TEAM
matches = data.shape[0] #[0] for X-axis
features = data.shape[1] - 1  #[1] for Y-axis (total features - Labels to be determined)

homewins = len(data[data.FTR == 'H'])
win_rate = (float(homewins)/(matches))*100

print("Total no of matches: {}".format(matches))
print("Number of Features: {}".format(features))
print("Number of matches won by HOME: {}".format(homewins))
print("Win rate of HOME team: {}".format(win_rate))

Total no of matches: 4041
Number of Features: 37
Number of matches won by HOME: 1862
Win rate of HOME team: 46.07770353872804

In [5]:
def getTeamData(teamName):
#     print("\n"+ teamName + "\n")
    
    #Num of goals in wins and looses
    gamesHome = data[data['HomeTeam']== teamName]
    totalGoalsScored = gamesHome['FTHG'].sum()
    
    gamesAway = data[data['AwayTeam'] == teamName]
    totalGames = gamesHome.append(gamesAway)
    numGames = len(totalGames.index)
    totalGoalsScored += gamesAway['FTAG'].sum() 
    
    
    #total goals allowed 
    totalGoalsAllowed = gamesHome['FTHG'].sum()
    totalGoalsAllowed += gamesAway['FTAG'].sum()
    
    #discipline TOTAL RED AND YELLOW CARDS
    totalYellowCards = gamesHome['HY'].sum()
    totalYellowCards += gamesAway['AY'].sum()
    
    totalRedCards = gamesHome['HR'].sum()
    totalRedCards += gamesAway['AR'].sum()
    
    
    #total Fouls
    totalFouls = gamesHome['HF'].sum()
    totalFouls += gamesAway['AF'].sum()
    
    
    #total Corners
    totalCorners = gamesHome['HC'].sum()
    totalCorners += gamesAway['AC'].sum()
    
    
    #shots per game (SPG) = totalshots / totalgames
    totalShots = gamesHome['HS'].sum()
    totalShots += gamesAway['AS'].sum()
    
    #avg shots allowed per game
    totalShotsAgainst = gamesHome['AS'].sum()
    totalShotsAgainst += gamesAway['HS'].sum()
    if numGames != 0:
        HSPG = totalShots / numGames #HomeShotsPerGame
        ASPG = totalShotsAgainst / numGames #AwayShotsPerGame
#         display("HSPG: {}".format(HSPG))
#         display("ASPG: {}".format(ASPG))
    
    #games won percentage= GamesWon / numGames
    gamesWon = totalGames[totalGames['FTR']== "H"]
    gamesLost = totalGames[totalGames['FTR'] == "A"]
    gamesDraw = totalGames[totalGames['FTR'] == "D"]
    numGamesWon = len(gamesWon.index)
    numGamesLost = len(gamesLost.index)
    numGamesDraw = len(gamesDraw.index)
    
    if numGames != 0:
        gamesWonPercent = numGamesWon / numGames
        gamesLostPercent = numGamesLost / numGames
        gamesDrawPercent = numGamesDraw / numGames 
    
#     print("Games Win Percent: {}".format(gamesWonPercent))
#     print("Games Loose Percent: {}".format(gamesLostPercent))
#     print("Games Draw Percent: {}".format(gamesDrawPercent))
    
    
    #Total shots on target:
    totalShotsOnTarget = gamesHome['HST'].sum()
    totalShotsOnTarget += gamesAway['AST'].sum()
    
    #GoalSaves
    goalSaves = totalShotsOnTarget - totalGoalsAllowed
    
    #Goal Save Percentage
    if totalShotsOnTarget != 0:
        goalSavesPercent = goalSaves / totalShotsOnTarget
        
    #Goal Save Ratio
    if goalSaves != 0:
        saveRatio = totalShotsOnTarget / goalSaves
    
    #Goal scoring Percent
    if totalShots != 0 :
        scoringPercent = (totalShots - totalGoalsScored)/totalShots
    
    #Goal scoring Ration
    if totalGoalsScored != 0:
        scoringRatio = totalShotsOnTarget / totalGoalsScored
        
    if numGames == 0: 
        gamesWon = 0
        gamesLost = 0
        gamesDraw = 0 
        totalGoalsScored = 0 
        totalShotsOnTarget = 0 
        totalGoalsAllowed = 0 
        totalYellowCards = 0 
        totalRedCards = 0 
        totalFouls = 0 
        totalCorners = 0 
        totalShots = 0 
        totalShotsAgainst = 0 
        HSPG = 0 #HomeShotsPerGame 
        ASPG = 0 #AwayShotsPerGame 
        goalSaves = 0 
        goalSavesPercent = 0 
        scoringPercent = 0 
        saveRatio = 0 
        scoringRatio = 0
    
    return [teamName, totalGoalsScored, totalShotsOnTarget, totalGoalsAllowed, 
            totalYellowCards, totalRedCards,totalFouls, totalCorners, 
            totalShots, totalShotsAgainst, HSPG, ASPG, goalSaves, goalSavesPercent, scoringPercent,
            saveRatio, scoringRatio]

In [6]:
# getTeamData('Chelsea')   #to check the team stats

new_datalist = []
for team in team_name:
    team_vector = getTeamData(team) 
    new_datalist.append(team_vector)
    
teamStats = pd.DataFrame(new_datalist, columns=['TeamName', 'totalGoalsScored', 'totalShotsOnTarget', 'totalGoalsAllowed', 
            'totalYellowCards', 'totalRedCards','totalFouls', 'totalCorners', 
            'totalShots', 'totalShotsAgainst', 'HSPG', 'ASPG', 'goalSaves', 'goalSavesPercent', 'scoringPercent',
            'saveRatio', 'scoringRatio'])

In [7]:
display(teamStats)

,TeamName,totalGoalsScored,totalShotsOnTarget,totalGoalsAllowed,totalYellowCards,totalRedCards,totalFouls,totalCorners,totalShots,totalShotsAgainst,HSPG,ASPG,goalSaves,goalSavesPercent,scoringPercent,saveRatio,scoringRatio
0,Liverpool,761.0,2769.0,761.0,569.0,25.0,4092.0,2638.0,6369.0,3904.0,15.764851,9.663366,2008.0,0.725172,0.880515,1.378984,3.638633
1,West Ham,458.0,1742.0,458.0,632.0,26.0,3915.0,1871.0,4385.0,5352.0,11.980874,14.622951,1284.0,0.737084,0.895553,1.356698,3.803493
2,Bournemouth,224.0,701.0,224.0,265.0,8.0,1628.0,943.0,2066.0,2422.0,11.738636,13.761364,477.0,0.680456,0.891578,1.469602,3.129464
3,Burnley,218.0,792.0,218.0,369.0,7.0,2245.0,920.0,2196.0,3365.0,10.261682,15.724299,574.0,0.724747,0.900729,1.379791,3.633028
4,Crystal Palace,287.0,943.0,287.0,422.0,10.0,2936.0,1317.0,2946.0,3455.0,11.690476,13.710317,656.0,0.695652,0.902580,1.437500,3.285714
5,Watford,197.0,639.0,197.0,348.0,19.0,2137.0,802.0,2021.0,2255.0,11.482955,12.812500,442.0,0.691706,0.902524,1.445701,3.243655
6,Tottenham,701.0,2804.0,701.0,642.0,24.0,4189.0,2584.0,6301.0,4528.0,15.596535,11.207921,2103.0,0.750000,0.888748,1.333333,4.000000
7,Leicester,321.0,927.0,321.0,300.0,18.0,2266.0,1164.0,2684.0,2791.0,12.542056,13.042056,606.0,0.653722,0.880402,1.529703,2.887850
8,Newcastle,389.0,1605.0,389.0,536.0,32.0,3574.0,1573.0,3921.0,4195.0,11.954268,12.789634,1216.0,0.757632,0.900791,1.319901,4.125964
9,Man United,737.0,2579.0,737.0,669.0,25.0,4470.0,2459.0,5712.0,4438.0,14.138614,10.985149,1842.0,0.714230,0.870973,1.400109,3.499322
10,Arsenal,761.0,2695.0,761.0,648.0,36.0,4111.0,2540.0,5888.0,4384.0,14.574257,10.851485,1934.0,0.717625,0.870754,1.393485,3.541393
11,Aston Villa,312.0,1385.0,312.0,542.0,20.0,3304.0,1489.0,3176.0,3974.0,10.951724,13.703448,1073.0,0.774729,0.901763,1.290774,4.439103
12,Brighton,96.0,327.0,96.0,149.0,8.0,1125.0,429.0,1056.0,1442.0,10.560000,14.420000,231.0,0.706422,0.909091,1.415584,3.406250
13,Everton,572.0,2297.0,572.0,619.0,30.0,4489.0,2283.0,5268.0,4876.0,13.039604,12.069307,1725.0,0.750980,0.891420,1.331594,4.015734
14,Norwich,184.0,824.0,184.0,288.0,10.0,1848.0,833.0,2007.0,2471.0,11.403409,14.039773,640.0,0.776699,0.908321,1.287500,4.478261
15,Southampton,370.0,1367.0,370.0,445.0,20.0,3263.0,1595.0,3808.0,3364.0,13.131034,11.600000,997.0,0.729334,0.902836,1.371113,3.694595
16,Man City,894.0,2861.0,894.0,671.0,27.0,4243.0,2871.0,6609.0,3611.0,16.358911,8.938119,1967.0,0.687522,0.864730,1.454499,3.200224
17,Sheffield United,25.0,77.0,25.0,47.0,1.0,263.0,131.0,237.0,274.0,9.875000,11.416667,52.0,0.675325,0.894515,1.480769,3.080000
18,Chelsea,766.0,2776.0,766.0,638.0,30.0,4165.0,2572.0,6491.0,4113.0,16.066832,10.180693,2010.0,0.724063,0.881990,1.381095,3.624021
19,Wolves,200.0,891.0,200.0,299.0,13.0,1934.0,978.0,1930.0,2347.0,10.965909,13.335227,691.0,0.775533,0.896373,1.289436,4.455000

In [8]:
# display(data.isnull().sum())
# teamStats.isnull().sum()
# #comparision of the attributes for nullness in whole data and selected data

In [9]:
# to check if the all teams are present 
filteredData = data[(data.HomeTeam.isin(team_name))]
data = filteredData[(filteredData.AwayTeam.isin(team_name))]

In [10]:
# Separate into feature set and target variable
X_data = data.drop(['FTR'],1)
y_data = data['FTR']
y_data = pd.DataFrame(y_data)
y_data.replace({"FTR":{'H':1,'A':2,'D':0}},inplace=True)     #replace the strings with integer

# Z_data = X_data.drop(['Date','FTHG','FTAG','HTHG','HTAG','HTR','Referee'],1)
Z_data = X_data.drop(['Date','HTR','Referee'],1)

# print(X_data)
# print(y_data)
# print(Z_data)
Z_data['FTHG'].tail()

4036    4.0
4037    2.0
4038    0.0
4039    1.0
4040    0.0
Name: FTHG, dtype: float64

In [11]:
# print(type(y_data))

In [12]:
# Standardising the data.

from sklearn.preprocessing import scale

#Center to the mean and component wise scale to unit variance.
# cols = [['HS','AS','HST','HF','AF','HY','AY','HR','AR','HC','AC','AST','HC','AC']]
cols = [['FTHG','FTAG','HTHG','HTAG','HS','AS','HST','HF','AF','HY','AY','HR','AR','HC','AC','AST','HC','AC']]
for col in cols:
    Z_data[col] = scale(Z_data[col])
Z_data['FTHG'].tail()

4036    1.813136
4037    0.295269
4038   -1.222598
4039   -0.463664
4040   -1.222598
Name: FTHG, dtype: float64

In [13]:
#we want continous vars that are integers for our input data, so lets remove any categorical vars
def preprocess_features(Z):
    ''' Preprocesses the football data and converts catagorical variables into dummy variables. '''
    
    # Initialize new output DataFrame
    output = pd.DataFrame(index = Z.index)

    # Investigate each feature column for the data
    for col, col_data in Z.iteritems():

        # If data type is categorical, convert to dummy variables
        if col_data.dtype == object:
            col_data = pd.get_dummies(col_data, prefix = col)
                    
        # Collect the revisedd columns
        output = output.join(col_data)
    
    return output

In [14]:
# from keras.utils import to_categorical
# Z_data = to_categorical(Z_data)

In [15]:
Z_data = preprocess_features(Z_data)
display(Z_data)

,Div_E0,HomeTeam_Arsenal,HomeTeam_Aston Villa,HomeTeam_Bournemouth,HomeTeam_Brighton,HomeTeam_Burnley,HomeTeam_Chelsea,HomeTeam_Crystal Palace,HomeTeam_Everton,HomeTeam_Leicester,...,BWA,IWH,IWD,IWA,WHH,WHD,WHA,VCH,VCD,VCA
0,1,0,0,0,0,0,0,0,0,0,...,7.50,1.55,3.80,7.00,1.57,3.8,6.00,1.57,4.0,7.00
4,1,0,0,0,0,0,0,0,0,0,...,2.00,3.70,3.35,2.05,3.80,3.2,2.05,3.90,3.4,2.10
5,1,0,0,0,0,0,0,0,0,0,...,3.30,2.20,3.30,3.40,2.38,3.0,3.30,2.40,3.2,3.40
6,1,0,0,0,0,0,0,0,0,0,...,3.20,2.25,3.35,3.20,2.30,3.2,3.20,2.38,3.3,3.30
7,1,1,0,0,0,0,0,0,0,0,...,1.95,3.60,3.60,2.00,3.80,3.8,1.91,3.90,4.0,1.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4036,1,0,0,0,0,0,0,0,0,1,...,5.75,1.53,4.40,5.80,1.52,4.4,6.00,1.53,4.4,6.25
4037,1,0,0,0,0,0,0,0,0,0,...,7.25,1.43,4.80,6.80,1.40,4.8,8.00,1.40,4.8,8.00
4038,1,0,0,0,0,0,0,0,0,0,...,7.75,1.42,4.55,7.60,1.40,4.5,8.50,1.40,4.5,9.00
4039,1,0,0,0,0,0,0,0,0,0,...,1.62,5.40,3.95,1.65,5.80,3.9,1.62,5.50,4.0,1.62
4040,1,0,0,0,0,0,0,0,0,0,...,1.34,8.40,5.40,1.35,9.00,5.5,1.32,9.50,5.4,1.33

In [16]:
from sklearn.model_selection import train_test_split

# Shuffle and split the dataset into training and testing set.
X_train, X_test, y_train, y_test = train_test_split(Z_data, y_data, 
                                                    test_size = 50,
                                                    random_state = 2,
                                                    stratify = y_data)
print(y_train)

      FTR
2587    0
3168    0
152     1
1159    1
187     1
...   ...
3878    2
1088    2
2250    2
3440    1
260     0

[1924 rows x 1 columns]

In [17]:
from keras.utils import to_categorical
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)
display((y_train))

Using TensorFlow backend.

array([[1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       ...,
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.]], dtype=float32)

In [18]:
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD,Adagrad
from keras import regularizers
from keras.callbacks import EarlyStopping

model = Sequential([
    Dense(100,input_shape=(72,),activation='relu',),
    Dense(80,activation='relu',kernel_regularizer=regularizers.l1(0.001)),
    Dense(500,activation='relu',kernel_regularizer=regularizers.l1(0.001)),
    Dense(100,activation='relu',kernel_regularizer=regularizers.l1(0.001)),
    Dense(3,activation='softmax',kernel_regularizer=regularizers.l1(0.001)),
])
# model.compile(optimizer=Adagrad(lr=0.1),loss='categorical_crossentropy',metrics=['acc'])
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])


model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 100)               7300
_________________________________________________________________
dense_2 (Dense)              (None, 80)                8080
_________________________________________________________________
dense_3 (Dense)              (None, 500)               40500
_________________________________________________________________
dense_4 (Dense)              (None, 100)               50100
_________________________________________________________________
dense_5 (Dense)              (None, 3)                 303
=================================================================
Total params: 106,283
Trainable params: 106,283
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(x=X_train,y=y_train,batch_size=64,epochs=1000,validation_split=0.2,
        #callbacks=[EarlyStopping(monitor='val_loss',patience=0.001)]
         )

Train on 1539 samples, validate on 385 samples
Epoch 1/1000
1539/1539 [==============================] - 1s 648us/step - loss: 96.4517 - acc: 0.4009 - val_loss: 5.2830 - val_acc: 0.4494
Epoch 2/1000
1539/1539 [==============================] - 0s 236us/step - loss: 4.8941 - acc: 0.4698 - val_loss: 4.6060 - val_acc: 0.4494
Epoch 3/1000
1539/1539 [==============================] - 0s 177us/step - loss: 4.4427 - acc: 0.4698 - val_loss: 4.3118 - val_acc: 0.4494
Epoch 4/1000
1539/1539 [==============================] - 0s 197us/step - loss: 4.1732 - acc: 0.4698 - val_loss: 4.0653 - val_acc: 0.4494
Epoch 5/1000
1539/1539 [==============================] - 0s 162us/step - loss: 3.9747 - acc: 0.4698 - val_loss: 3.9073 - val_acc: 0.4494
Epoch 6/1000
1539/1539 [==============================] - 0s 236us/step - loss: 3.8126 - acc: 0.4698 - val_loss: 3.7442 - val_acc: 0.4494
Epoch 7/1000
1539/1539 [==============================] - 0s 288us/step - loss: 3.6719 - acc: 0.4698 - val_loss: 3.6400 - val_acc: 0.4494
Epoch 8/1000
1539/1539 [==============================] - 0s 189us/step - loss: 3.5505 - acc: 0.4698 - val_loss: 3.5094 - val_acc: 0.4494
Epoch 9/1000
1539/1539 [==============================] - 0s 255us/step - loss: 3.4400 - acc: 0.4698 - val_loss: 3.4003 - val_acc: 0.4494
Epoch 10/1000
1539/1539 [==============================] - 0s 197us/step - loss: 3.3346 - acc: 0.4698 - val_loss: 3.2982 - val_acc: 0.4494
Epoch 11/1000
1539/1539 [==============================] - 0s 158us/step - loss: 3.2437 - acc: 0.4698 - val_loss: 3.2282 - val_acc: 0.4494
Epoch 12/1000
1539/1539 [==============================] - 0s 237us/step - loss: 3.1669 - acc: 0.4698 - val_loss: 3.1399 - val_acc: 0.4494
Epoch 13/1000
1539/1539 [==============================] - 0s 256us/step - loss: 3.0943 - acc: 0.4698 - val_loss: 3.0955 - val_acc: 0.4494
Epoch 14/1000
1539/1539 [==============================] - 0s 115us/step - loss: 3.0320 - acc: 0.4698 - val_loss: 3.0094 - val_acc: 0.4494
Epoch 15/1000
1539/1539 [==============================] - 0s 176us/step - loss: 2.9660 - acc: 0.4698 - val_loss: 2.9559 - val_acc: 0.4494
Epoch 16/1000
1539/1539 [==============================] - 0s 106us/step - loss: 2.9087 - acc: 0.4698 - val_loss: 2.9067 - val_acc: 0.4494
Epoch 17/1000
1539/1539 [==============================] - 0s 105us/step - loss: 2.8578 - acc: 0.4698 - val_loss: 2.8542 - val_acc: 0.4494
Epoch 18/1000
1539/1539 [==============================] - 0s 213us/step - loss: 2.8088 - acc: 0.4698 - val_loss: 2.8035 - val_acc: 0.4494
Epoch 19/1000
1539/1539 [==============================] - 0s 157us/step - loss: 2.7628 - acc: 0.4698 - val_loss: 2.7579 - val_acc: 0.4494
Epoch 20/1000
1539/1539 [==============================] - 0s 152us/step - loss: 2.7196 - acc: 0.4698 - val_loss: 2.7116 - val_acc: 0.4494
Epoch 21/1000
1539/1539 [==============================] - 0s 118us/step - loss: 2.6796 - acc: 0.4698 - val_loss: 2.6728 - val_acc: 0.4494
Epoch 22/1000
1539/1539 [==============================] - 0s 118us/step - loss: 2.6403 - acc: 0.4698 - val_loss: 2.6372 - val_acc: 0.4494
Epoch 23/1000
1539/1539 [==============================] - 0s 113us/step - loss: 2.6035 - acc: 0.4698 - val_loss: 2.6013 - val_acc: 0.4494
Epoch 24/1000
1539/1539 [==============================] - 0s 140us/step - loss: 2.5687 - acc: 0.4698 - val_loss: 2.5714 - val_acc: 0.4494
Epoch 25/1000
1539/1539 [==============================] - 0s 158us/step - loss: 2.5360 - acc: 0.4698 - val_loss: 2.5361 - val_acc: 0.4494
Epoch 26/1000
1539/1539 [==============================] - 0s 153us/step - loss: 2.5029 - acc: 0.4698 - val_loss: 2.5035 - val_acc: 0.4494
Epoch 27/1000
1539/1539 [==============================] - 0s 108us/step - loss: 2.4727 - acc: 0.4698 - val_loss: 2.4724 - val_acc: 0.4494
Epoch 28/1000
1539/1539 [==============================] - 0s 158us/step - loss: 2.4432 - acc: 0.4698 - val_loss: 2.4459 - val_acc: 0.4494
Epoch 29/1000
1539/1539 [==============================] - 0s 98us/step - loss: 2.4157 - acc: 0.4698 - val_loss: 2.4178 - val_acc: 0.4494
Epoch 30/1000
1539/1539 [==============================] - 0s 169us/step - loss: 2.3879 - acc: 0.4698 - val_loss: 2.3936 - val_acc: 0.4494
Epoch 31/1000
1539/1539 [==============================] - 0s 95us/step - loss: 2.3626 - acc: 0.4698 - val_loss: 2.3644 - val_acc: 0.4494
Epoch 32/1000
1539/1539 [==============================] - 0s 195us/step - loss: 2.3364 - acc: 0.4698 - val_loss: 2.3403 - val_acc: 0.4494
Epoch 33/1000
1539/1539 [==============================] - 0s 263us/step - loss: 2.3123 - acc: 0.4698 - val_loss: 2.3198 - val_acc: 0.4494
Epoch 34/1000
1539/1539 [==============================] - 0s 294us/step - loss: 2.2896 - acc: 0.4698 - val_loss: 2.2936 - val_acc: 0.4494
Epoch 35/1000

In [ ]:
model.evaluate(x=X_test,y=y_test,batch_size=64)
model.save("./data/model.h5")